<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="images">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" attr.data-slide-to="index" *ngFor="let image of images;let index = index" [class.active]="index===0"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let image of images; let isFirst = first" [class.active]="isFirst">
      <img class="d-block w-100" [src]="image.src" alt="First slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>